{% extends "base.html" %}
{% block content %}
<div class="top-part nav">
	     <span>当前位置：<a href="/nuan/index/">首页</a>>{{ current }}</span>
	</div>
	<div id="main" class="main">
		<div class="pure-u-1-6 content-nav">
            {% if type == 'privacy' %}
			<div class="bigger selected"><a href="/nuan/privacy/" >隐私声明</a></div>
            <div class="smaller">1. 我们对您的承诺</div>
			<div class="smaller">2. 我们收集什么样的信息</div>
			<div class="smaller">3. 暖框科技对“Cookie”的使用</div>
			<div class="smaller">4. 购买邮寄名单的使用</div>
			<div class="smaller">5. 信息保护</div>
			<div class="smaller">6. 变更通知</div>
			<div class="bigger"><a href="/nuan/condition/" style="color: #D0D0D0">使用条件</a></div>

            {% else %}
            <div class="bigger"><a href="/nuan/privacy/" style="color: #D0D0D0">隐私声明</a></div>
			<div class="bigger selected"><a href="/nuan/condition/">使用条件</a></div>
			<div class="smaller">1. 版权、机密和其它知识产权</div>
			<div class="smaller">2. 免责声明</div>
			<div class="smaller">3. 链接和使用本网站</div>
			<div class="smaller">4. 链接到其它网站</div>
            <div class="smaller">5. 适当使用</div>
			<div class="smaller">6. 信息传递的安全性</div>
			<div class="smaller">7. 注册用户的责任</div>
            <div class="smaller">8. 信息传递的使用和机密</div>
            <div class="smaller">9. 提交</div>
            <div class="smaller">10. 聊天室、公告板和其它用户论坛的使用</div>
            <div class="smaller">11. 许可</div>
            <div class="smaller">12. 综述</div>
            {% endif %}
		</div>
		<div class="pure-u-2-3 content-txt">
			<h2 style="color:#094387;">{{ current }}</h2>
            {% if type == 'condition' %}
			<table cellspacing="0" cellpadding="0" width="100%" >
				<tbody>
				<tr>
				<td width="100%" ><p><b>条款和规定</b></p></td>
				</tr>

				<tr>
				<td width="100%" valign="top" ><p><b>本网站的所有用户应同意如下条文：</b></p>

				<p><b>1．版权、机密和其它知识产权</b></p>

				<p>本网站所有的商标、版权、内容、信息、经营方式、图示、设计和文件如同本网站的“外设计理念”一样（统称为“知识产权”）为暖框科技公司和其发许可证者所有，除非另有说明。知识产权不包括向您或任何第三方放弃、转让或许可所有权。</p>

				<p>暖框科技网站的内容包括但不仅限于文本、图表和图标，，为暖框科技公司和其许可证颁发者版权所有，受其支配。您可以在某电台电脑上下载一份有版权的材料并打印，仅仅为了您了解、评估或获取暖框科技公司的服务和产品。禁止打印、抄袭、复制、分发、传播、上载、下载、储存、公开展示、变更或修改版权所有的材料。</p>

				<p>您同意对使用本网站所获得的任何机密信息（如下所述）保密。除非法律上的需要，不得将机密信息透露给任何第三方或将机密信息用于使您能够获取机密信息的商业活动以外的目的。您同意采取合理步骤保证机密信息不由您的员工或代理人违背本协议条款泄露或传播。本协议的“机密信息”指一切标有“机密”的所有权信息或一个有理智的人知道构成所有权信息的信息，其包括但不限于商业计划、财务报告、客户名单和其它客户信息、生产过程描述、产品开发和市场规划。您同意本网站包括个别项目的特别设计和结构等各个方面构成暖框科技和其许可证颁发者的商业秘密和/或版权材料。未经暖框科技和其许可证颁发者的书面许可，您不得以任何方式向第三方泄露，提供或以其他形式给与此商业秘密或版权材料。您应采取合理的安全措施保护商业秘密和版权材料。本网站的名称和所有内容为暖框科技和其许可证颁发者独家所有。</p>

				<p><b>2．免责声明</b></p>

				<p>本网站包括一些在暖框科技产品相关文件中包含和涉及到的信息。它仅向您提供一般信息，不提供出售产品或鼓动购买产品，不能作为包决定购买产品的充分依据。在购买前，请向您的产品顾问咨询，获得有关产品的信息和分析，以及根据您的具体情况分析购买的风险性和适用性。</p>

				<p>尽管暖框科技公司试图提供有用的信息，但它并不保证信息准确、及时或适用于任何特别需求。暖框科技公司认为没有义务更新或继续张贴信息。暖框科技公司不保证访问本网站将不受干扰、不保证本网站不存在病毒、不保证本网站不受第三方的篡改。</p>

				<p>本网站和信息是基于“照现在的状态”提供的，没有任何明确或暗示的保证，包括但不限于任何名称或准确性的保证或任何适销或适用于某特殊用途的内在保证。用户在使用本网站以及相关信息的同时，承担其全部风险。无论如何，不管是根据合约，侵权行为（包括过失）或任何其它条文，即使暖框科技公司获悉这种损害可能发生，无论怎样，暖框科技公司或其发许可证者或供应者都不会对任何由本网站、第三方操作的网站或本网站或其它网站的信息引发的或与之相关的损害负责，这包括但不限于直接的、间接的、偶然的、特殊的、必然的或惩罚性损害赔偿，包括但不限于数据丢失、收入丢失或利润丢失。暖框科技或其许可证颁发者或其员工、代表或转售者的任何口头或书面的信息或建议都不能对这里所述附加任何保证。某种程度上不能排除内在保证，该保证有效期为九十天。因为有的司法权不允许限制内在保证的有效期，上述期限可能对您不适用。您还可能有自己的司法权的其它权利。即使上述的保证没有达到根本的目的，前述的期限应适用。因为有的司法权不允许限制或排除间接的或偶然的损害，上述某些或所有的期限可能对您不适用。</p>

				<p>尽管暖框科技力求准确、全面和及时，并不保证这里的内容是准确、全面和及时的。在信赖任何信息前对其核实是您的责任。本网站的内容可能包含技术差错或排印错误。这里的内容会随时更改。暖框科技可能随时对这里描述的产品和/或服务进行变动。我们保留在不通知的情况下随时更改和更正的权利。</p>

				<p><b>3．链接和使用本网站</b></p>

				<p>本网站属暖框科技公司所有。其他网站可通过合法的链接方法链接到本网站。</p>

				<p><b>4．链接到其它网站</b></p>

				<p>可以在本网站和由第三方操作的一个或多个网站或提供的内容之间建立定期的链接。暖框科技不控制任何其它这样的网站或那里的内容，暖框科技和其许可证颁发者也不对由此类网站或其内容引发的或相关的问题负责。存在链接并不意味着暖框科技或其许可证颁发者赞同此类网站、认可此类网站的内容或此类网站的操作者。</p>

				<p><b>5．适当使用</b></p>

				<p>您同意遵守您的司法权和您的交流对象的司法权。所有的用户不得张贴不恰当的或非商业性质的内容，限制包括但不仅限于发布亵渎的、淫秽的、威胁性的、诽谤的以及低级的内容。您负责备份所有您发送到网站上的数据。</p>

				<p><b>6．信息传递的安全性</b></p>

				<p>暖框科技采取相应措施保证网站信息接收和传出的可靠性和安全性。关于通过使用安全加密协议(SSL)对数字证书进行验证的情况可从我们的数字证书验证声明(DCPS) 获取。</p>

				<p><b>7．注册用户的责任</b></p>

				<p>如果您是注册用户，您有责任对给予您的任何密码进行保密，并在密码丢失或被盗后立即向暖框科技报告；如果在核准或进入使用密码时有变，或您的注册核准被撤销也应立即报告。用户ID和密码是提供给您个人的，您同意不会将密码给他人。除非本条款和规定另有明确说明，否则您无权尤其不许（a）试图将从本条款和规定中获得的任何注册权转让、委派或发从属许可证给他人；（b）对网站作出错误的更正、修改或改动或仿效本网站或允许第三方有同样行为；(c)反编译、破译、剖析、分解或降低本网站的任何部分到易读的形式以获取本网站的商业秘密或机密信息。您通过在本条款和规定下所获得有限的、可撤销的权限进行有目的的转让、委派或发从属许可证是无效的。</p>

				<p><b>8．信息传递的使用和机密</b></p>

				<p>如果您向本网站发送信息，如（不限于）向版主发送电子邮件，您以此授权暖框科技公司阅读和使用信息，暖框科技公司认为并无不适。您应该了解本网站没有设备用于发送和接受机密的信息。</p>

				<p>使用我们的网站表明您承认暖框科技拥有保留监督所有活动的权利，并授权暖框科技对未经过许可的使用采取合理的措施以保护网站的权利。</p>

				<p>要了解更多关于运用您的信息一事，请阅读隐私声明。</p>

				<p><b>9．提交</b></p>

				<p>使用暖框科技网站表明您认为暖框科技可以使用和公开您通过暖框科技所属企业实体提交的任何信息，而不指明出处，不对您作任何补偿。暖框科技公司可自由使用任何思路、想法、技能和技术，直接的或间接的或基于您通过本网站提供给暖框科技公司的信息，包括但不仅限于开发、生产和销售产品或服务。暖框科技可在未来并购企业和资产，在这样的交易过程中，客户的个人信息可能被转让给这些企业和资产。暖框科技可将信息传送到另一国家为了诸如储存的目的或因为我们的服务器在那里。暖框科技会由于法律上或搜查证、传票或庭谕的需要公开客户的个人信息。</p>

				<p><b>11．聊天室、公告板和其它用户论坛的使用</b></p>

				<p>暖框科技可对网站上用户传递或张贴信息或彼此交流的任何区域进行监督和检查，目的是为了提高其使用效率、作用和适当性。然而，暖框科技不监督或检查每一张贴或信息，并对与此相关的内容不负责任，无论它是否事关版权法、商标、诽谤、隐私、猥亵或其它。</p>

				<p>虽然暖框科技会时时监督信息传递的内容，但暖框科技并不赞同、支持、认可、鼓励、核实或一定同意公告板上张贴的言论、意见或声明。任何网上的信息或材料包括建议和意见仅仅是那些张贴者的观点和责任，并不代表暖框科技的观点。暖框科技有其自主权，保留随时对全体或某一用户中断此项服务的权利。</p>

				<p>公告板上的内容未经事先筛选。因此访问公告板的用户应对此负责，特别是关于无礼、错误和其它不能接受的材料。暖框科技有自主权，保留权利复制（以任何形式或工具）、删除、编辑、评论或修改任何提交或张贴的材料。</p>

				<p>暖框科技网上公告板禁止下列内容：猥亵或无礼的语言、对任何个人或公司的诽谤性言论、关于他人的个人信息、价格串通、抵制、出价、市场/地区/客户分配以及其它任何非法活动或行为。您若有此遭遇，请联系版主。</p>

				<p>如果您向公告板提交任何材料，为此您要同意并保证所提交的材料符合：（i）没有无礼、猥亵或不违背可能看到公告板的任何地区的法律；（ii）是您原创或您有权提交并且不违背可能看到公告板的任何地区个人或实体的版权、商标、专利或其它知识产权；(iii)真实、准确、没有诽谤、诋毁、侵犯隐私、诬蔑或任何犯法之处。</p>

				<p><b>12．许可</b></p>

				<p>暖框科技授予您在遵守本条款和规定的情况下使用和访问本网站的有限权限。暖框科技可自主地随时撤销这些权限。</p>

				<p>这里的一切不能解释为是暖框科技或任何第三方的专利、商标或所有权允许的暗示、禁止反言或任何许可或权利。这里的一切不能解释为暖框科技版权允许的许可或权利，除非上文另有明确说明。</p>

				<p>本网站和这里的所有软件和文件受版权法和相应的国际条约的保护。未经准许的复制或分发会受到民事和刑事处罚。</p>

				<p><b>13．综述</b></p>

				<p>本条款和规定根据中国法律解释。本条款和规定的条文可以分开。如果某一条文不可实施，它不影响本条款和规定的任何其它条文，本条款和规定可解释为不含无法实施的条文。在本条款和规定的条文下暖框科技公司对任何权利的放弃并不意味着放弃其它任何类似权利或放弃另一时间同样的权利或条文。</p></td>
				</tr>

				</tbody>
				</table>
            {% else %}
            <p><b>隐私声明 </b></p>

            <p>本声明事关暖框科技公司网站，www.warmframe.com。暖框科技公司（以下简称为暖框科技）是本网站信息的唯一拥有者。</p>

            <p><b>1. 我们对您的承诺</b> </p>

            <p>我们尊重您的隐私。暖框科技承诺保护您网上的隐私。您若对本声明有疑问，请联系我们。</p>

            <p>暖框科技承诺：</p>

            <p>• 不出售、出租或泄露您的个人信息 </p>

            <p>• 如果您要求将您的名字从邮寄名单上撤消，我们照办 </p>

            <p>• 除非另一家公司能为您提供更好的信息、产品或服务，否则不会将您的信息透露给任何贸易伙伴 </p>

            <p>暖框科技承诺：</p>

            <p>• 认真对待您的隐私，遵守本声明 </p>

            <p>• 在公司内部推广本声明，让每个员工都遵守。 </p>

            <p>• 保持本声明的准确性 </p>

            <p>本声明可有变动，请经常查看。</p>

            <p><b>2. 我们收集什么样的信息，我们如何运用信息?</b> </p>

            <p><b>日志文件</b> </p>

            <p>我们像大多数标准的网站服务器一样，采用日志文件记录IP 地址、浏览器类型、机器 ID、提交/退出页面、平台类型、日期/时间、点击数和其它信息。我们通过这些信息分析趋势、管理网站、跟踪用户总体动向，故障问题，收集大量人口统计信息作总体研究。IP地址等与个人身份信息并无关联。</p>

            <p>如果您注册了（在许多地方要求提供email地址才可注册），我们在日志文件中记下您的email地址，以便了解您的兴趣，为您更好地服务。</p>

            <p><b>电子邮件和提交“联系我们”表单</b> </p>

            <p>如果您通过 email 或“联系我们”表单与暖框科技联系，我们会保留联系记录，并且及时回复。暖框科技有时也请用户完成用于研究目的的调查。我们有时会根据您的 email 中提供的信息向您提供特价产品服务。注：即使您取消预订或将您的名字从邮寄名单中撤消，我们也会以email继续回复您的特别请求或活动。此类的请求或咨询包括回复您的询问（如“联系我们”），样品后续 email、订购确认及其他未列出的活动。</p>

            <p><b>第三方隐私</b> </p>

            <p>暖框科技用像素或透明的GIF文件来管理网上广告。这些GIF文件由我们的广告管理伙伴“双击”提供。这些文件使“双击”能识别您浏览器的特定cookie，从而使我们了解到什么样的广告吸引用户访问我们的网站。Cookie由我们或由 “双击”合作广告商设置。通过cookie和聚光灯技术，我们收集和共享的信息是匿名的，与个人身份无关，不包括您的姓名、住址、电话号码或email地址。 </p>

            <p><b>关于注册</b> </p>

            <p>通过提供您的email地址（如完成“联系我们”表单，获取产品数据表，获取申请表，申请高级用户，签订技术更新，获取即时帮助和其它），您就在本网站注册了。除了拥有您email ID外，我们还储存了您在简介/爱好 中“我的联系信息”中提供的信息以及申请高级用户是提供的任何信息。我们使用这些信息，您就不必再次进入“联系我们”表单、我的习惯偏好申请表和网站其它区域，从而可以为您节省时间。如有需要，或者要与您联系，我们也可以通过这些信息向您发送确认函、特价提供、调查表及其它信息。我们建议您在 简介/爱好 中设置密码，来保护自己的信息。</p>

            <p><b>您可以随时完成取消帐户表永久地从本网站注销您的注册 。帐户注销后，您将无法获取本网站的各类信息和申请表，高级用户访问点（如果您是高级用户的话），和任何您选择的预订和其它email要求。</b> </p>

            <p>在提供您的email地址之后，您会收到暖框科技自动发来的email，如果您不希望收到此类email，可以在简介/爱好的邮寄名单中取消预订。<br />
            </p>

            <p><b>3. i暖框科技对“Cookie”的使用</b> </p>

            <p>该网站使用 Cookie。我们使用 Cookie 是为了使网站的运行效率更高，并获知网站用户的相关信息。</p>

            <p>每次在未使用 Cookie 的情况下访问我们的网站时，您都会看到一个带有暖框科技公司 Cookie 使用信息的突出标识。根本该政策的规定，继续浏览首网页后的其它网页，即表明您同意暖框科技使用 Cookie.</p>

            <p><b>ii什么是Cookie？</b> </p>

            <p>Cookie 是您所访问的网站放到您电脑硬盘驱动器中的小型文本文件。我们使用 Cookie 是为了提高网站的运行效率，并收集网站用户的相关信息。</p>

            <p>当您向我们提供您的电子邮件地址时（如完成“联系我们”表单，获取申请表、申请高级用户、签定技术更新和其它），我们就已经根据您提供的电子邮件地址完成了对 Cookie 的设置，并在您当时使用的电脑上设置由网站产生的特定识别符。可采用以下方法删除或阻截Cookie。</p>

            <p><b>iii 我们所使用的Cookie</b> </p>

            <p>通常而言，我们在网站上使用 Cookie 的原因主要有以下几点：</p>

            <p>• 让您不必每次访问本网站和/或每次提交“联系我们”表单时都需输入电子邮件地址。 </p>

            <p>• 跟踪使用情况，以便改进网站导航、界面和总体设计。确定哪些信息对网站用户有用。 </p>

            <p>• 确定您的使用偏好，以便更好地为您 服务。 </p>

            <p>• 我们也会在其他 Cookie 中储存非个人身份信息，如国家和语言等，这样您在访问本网站时不必每次都重新输入此类信息。 </p>

            <p>• 其他非个人身份信息也会存储在 Cookie 中，如上次访问时间、访问次数、调查和其它信息，以便不重复显示您已经查看的信息。 </p>

            <p>您可以在随附的列表中查看与我们使用何种 Cookie 以及使用原因相关的更多详细信息。使用我们的网站，您还可能会收到第三方 Cookie，如上表所述。</p>

            <p><b>iv.管理Cookie——删除和阻截</b> </p>

            <p>要对存储在您的电脑上的 Cookie 进行管理，可找到特定浏览器所对应的的选项菜单，然后删除 Cookie 文件。</p>

            <p>如果您修改了浏览器的默认设置，在每次关闭浏览器时都删除 Cookie，那么将不会保存您的偏好。每次您打开浏览器并访问我们的网站时，您都会再次被询问是否接受暖框科技网站在您的电脑上安装 Cookie.如果不想每次访问我们的网站时都看到 Cookie 标识，改变设置时请三思而行。</p>

            <p>注意在浏览器中关闭您的 Cookie 意味着您无法访问该网站的某些部分。</p>

            <p>我们建议您使用密码来保护个人信息，这样别人在存有您的 Cookie 的电脑上访问本网站时无法打开您的个人信息/偏好。您可以在个人信息／偏好 中用密码保护自己的信息。</p>

            <p><b>4．购买邮寄名单的使用</b> </p>

            <p>我们的确把email联系名单购买/出租/租借到我们无法直接访问的网络地址，因此如果您之前撤销了从暖框科技接收信件的预定，我们还是无法将您从email联系名单中去除。由于您允许购买/出租/租借邮寄名单的拥有者这样做，因此我们认为我们遵守了本声明。</p>

            <p><b>5．信息保护</b> </p>

            <p>暖框科技采用先进技术保证您信息的安全性。如果您使用密码，您的帐户信息将会通过SSL（加密套接字协议层）编码。您可随时用密码编写您的信息。</p>

            <p>暖框科技采取措施保证您的信息得到安全处理，并遵循相关条款规定和本隐私政策。遗憾的是，因特网的数据传输不能保证百分之百的安全。因此，在我们力图保护您的信息的同时，暖框科技不能确保本网站的安全性，您需要自负使用风险。</p>

            <p>如果法律上需要或有搜查证、传票或庭谕，暖框科技将公布客户的个人信息。</p>

            <p><b>6．变更通知</b> </p>

            <p>如果隐私政策有所变更的话，我们会将把这些变更在本隐私声明和其它我们认为相关的地方进行更改，这样用户可以随时了解我们收集什么信息、怎样运用、有可能在什么情况下进行公布。我们将根据隐私声明来运用收集到的信息。请经常查看了解最新情况。</p>

            {% endif %}
		</div>
{% endblock %}