{% extends "base.html" %}
{% block content %}
	<div class="pure-menu pure-menu-horizontal">
	    <ul class="pure-menu-list top-part">
	    	<li class="pure-menu-item pure-menu-selected"><a class="pure-menu-link" href="#pictureId">{% if lan_type == 'en' %}FrontPage{% else %}首页{% endif %}</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link" href="#techId">{% if lan_type == 'en' %}Warmframe{% else %}暖框技术{% endif %}</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link" href="#detailId">{% if lan_type == 'en' %}Products{% else %}产品介绍{% endif %}</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link" href="#solutionId">{% if lan_type == 'en' %}Solutions{% else %}解决方案{% endif %}</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link" href="#examplesId">{% if lan_type == 'en' %}Projects{% else %}精选案例{% endif %}</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link" href="#aboutusId">{% if lan_type == 'en' %}About Us{% else %}关于我们{% endif %}</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link" href="#contactId">{% if lan_type == 'en' %}Contacts{% else %}联系方式{% endif %}</a></li>
	    </ul>
	</div>
	<div id="main" class="main">
		<div class="picture blockdiv" style="padding-left:0px" id="pictureId">
			<input type="image" src="/static/images/f.png" class="fake_picture" style="width: 0px;">
			<img src="/static/images/a.png" class="pure-img-pic selected" align="center"/>
			<img src="/static/images/b.png" class="pure-img-pic" align="center"/>
			<img src="/static/images/c.png" class="pure-img-pic" align="center"/>
			<img src="/static/images/d.png" class="pure-img-pic" align="center"/>
			<img src="/static/images/e.png" class="pure-img-pic" align="center"/>
			<img src="/static/images/f.png" class="pure-img-pic" align="center"/>
			
		</div>

		<div class="tech blockdiv" id="techId">
			<h2 style="color:#094387;">{% if lan_type == 'en' %}Warmframe{% else %}暖框技术{% endif %}</h2>
			<p>{% if lan_type == 'en' %}Warmframe is a brand new word to the Curtain Wall Industry. Generally speaking, Warmframe is a novel and high performance thermal break technology for building envelopes. </br></br>
Since the thermal conductivities of the metal frames of facades are usually quite high, for example, the thermal conductivity of aluminum alloy is 160.00 W/(m∙K), thermal break materials with much lower thermal conductivities are usually placed in between the metal frames to provide better thermal performance. The traditional thermal breaks include: polyamide (nylon), polyurethane (PU), EPDM and etc. The thermal conductivities of these materials are about 0.25 W/(m∙K), which is much lower than the metals. However, the thermal conductivity of the High Performance Thermal Break Blanket is typically no larger than 0.019 W/(m∙K), which is less than one tenth of the traditional materials.  In another words, the efficiency of the thermal loss thru the High Performance Thermal Break Blanket is more than 10 times better.</br></br>
Warmframe technology is to mechanically fix the High Performance Thermal Break Blanket, such as Warmframe 1000 in between the interior and exterior metals. If properly designed, it may be combined smoothly with the existing facade system and maximized its advantages, such as thin profile, super high thermal performance, excellent water repellent and easy processing. Should Warmframe technology is adopted, it may contribute to reduce the thermal transmittance of curtain wall frames (Uf) significantly, and improve the overall thermal transmittance of curtain wall (Ucw) eventually. Meanwhile, the condensation risks happen thru the frames are minimized to the lowest level. Warmframe simplifies the detail of thermal break and encourages mechanical fixing, which resolves most of the concerns regarding structural safety.</br></br>
{% else %}暖框科技（北京）有限公司的独创的创新技术均冠以企业字号将其称之为“暖框技术 Warmframe Technology"，即指“暖框科技（北京）有限公司的技术”，也就是说“暖框科技”的技术均称之为“暖框技术 Warmframe Technology"；暖框科技（北京）有限公司所有拥有的创新技术包含了高性能建筑节能复合中空玻璃技术，玻璃幕墙建筑阴影盒结构技术，高效节能隔热门窗技术，建筑幕墙冷热技术阻断技术，高性能材料分析，测试及应用技术等众多持续创新技术与设计。 </br></br>
			暖框技术，对于幕墙行业而言，是一个新的词汇。简而言之，暖框技术是一种创新的建筑幕墙各类型热冷桥高效阻断技术。 </br></br>
			由于幕墙外墙金属结构材料的导热系数较高，如铝合金的导热系数为160.00W/(m∙K)，因此幕墙建筑断热冷桥技术的关键是通过将低导热系数的材料设置在金属材料之间起到隔热隔声效果。传统的隔热材料有：聚酰氨 (尼龙)，PU (聚亚氨酯树脂)，EPDM (三元乙丙)等，它们的导热系数基本都在0.25W/(m∙K)左右，相比金属要低得多。而Warmframe高性能幕墙隔热隔水及防火材料的导热系数通常可低达到0.019W/(m∙K)，仅为传统材料的十分之一以下，换而言之，在相同厚度的情况下，高性能幕墙隔热毯的隔热效果是传统隔热材料的10倍以上。 </br></br>
			暖框技术是在幕墙的室内金属与室外金属的交界处，通过机械固定的方式将如Warmframe 1000系列高性能工程产品设置在两者之间作为断热冷桥。通过巧妙的设计，它可以完美地与现有的建筑外墙体系结合，并充分发挥其厚度轻薄、隔声防火及隔热性能超高、憎水性能良好和使用简便等优势，从而大幅度地降低幕墙金属材料之间的传热，进而改善建筑外墙整体的传热系数 (Ucw)，使建筑外墙发生结露的风险减小到最低，同时提高幕墙的耐火极限、隔音性能及耐火性。此外，暖框技术还简化了断热冷桥的工艺，最大程度地避免产生结构安全隐患。
			{% endif %}</p>
  
		</div>
		<div class="detail blockdiv" id="detailId">
			<div class="pure-u-1-5">
				<h2 style="color:#094387;">{% if lan_type == 'en' %}Products{% else %}产品解决方案{% endif %}</h2>
			</div>
			<div class="pure-u-1-3">
				<img src="/static/images/detail.jpg" class="detail-img"
			                     title="TS-1100">

				   
			</div>
			<div class="pure-u-2-5" style="margin-left:67px">
				<h3 style="margin-top:0px;color:#094387;">{% if lan_type == 'en' %}Warmframe 1000 High Performance Thermal Break Blanket
{% else %}Warmframe 1000系列高性能多功能工程毯及幕墙应用产品解决方案{% endif %}</h3>
				<table class="pure-table pure-table-striped">
		            <thead class="bluehead">
		                <tr>
		                    <th>{% if lan_type == 'en' %}Items{% else %}项目{% endif %}</th>
		                    <th>{% if lan_type == 'en' %}Data{% else %}性能参数{% endif %}</th>
		                    
		                </tr>
		            </thead>

		            <tbody>
		                <tr>
		                    <td>{% if lan_type == 'en' %}Nominal Thickness{% else %}名义厚度{% endif %}</td>
		                    <td>6mm，10mm</td>
		                    
		                </tr>
		                <tr>
		                    <td>{% if lan_type == 'en' %}Nominal Density{% else %}名义密度{% endif %}</td>
		                    <td>220 kg/m^3</td>
		                    
		                </tr>
		                <tr>
		                    <td>{% if lan_type == 'en' %}Thermal Conductivity{% else %}导热系数{% endif %}</td>
		                    <td>≤0.020 W/m*K</td>
		                    
		                </tr>
		                <tr>
		                    <td>{% if lan_type == 'en' %}Burning Behavior{% else %}燃烧性能{% endif %}</td>
		                    <td>{% if lan_type == 'en' %}Grade A{% else %}A级{% endif %}</td>
		                    
		                </tr>

		                
		            </tbody>
		        </table>
                <div style="text-align:right;font-size:14px;margin-top: 27px;" class="blue-txt">
                    <span>{% if lan_type == 'en' %}Product Brochure and GB Test Report (PDF format) {% else %}产品介绍册，GB测试报告（PDF格式）{% endif %}</span>
                    <img src="/static/icon/download.png" class="jump_to_form">
                </div>
			</div>
		</div>
		<div class="solution blockdiv" id="solutionId">
			<div class="pure-u-1-6">
				<h2>{% if lan_type == 'en' %}Solutions{% else %}解决方案{% endif %}</h2>
			</div>
			<div class="pure-u-4-5" style="margin-top:14px">
				<span>{% if lan_type == 'en' %}To assure the highest quality and performance of facades, Warmframe Technology offers the full scope professional services in each stages of the projects for our customers. The typical scope of services include:
{% else %}为保证项目质量和性能的最高品质，Warmframe 暖框科技为工程提供Warmframe 1000高性能产品解决方案之外，同时为幕墙工程的设计和施工人员提供从设计、测试、工艺到施工的全过程技术支持，典型的服务内容如下表所示：{% endif %}</span>
			</div>
			<table class="pure-table bigtable">
					<thead class="greenhead">
				        <tr>
				            <th>{% if lan_type == 'en' %}Design Phase{% else %}设计阶段{% endif %}</th>
				            <th>{% if lan_type == 'en' %}Performance Mock-up Testing{% else %}性能测试（热工）{% endif %}</th>
				            <th>{% if lan_type == 'en' %}Construction
{% else %}施工阶段{% endif %}</th>
				        </tr>
				    </thead>

				    <tbody>
				        <tr>
				            <td>
				                <ul>
				                    <li>{% if lan_type == 'en' %}Design reviews
{% else %}项目设计图纸审阅{% endif %}</li>
				                    <li>{% if lan_type == 'en' %}Thermal modeling and engineering
{% else %}热工建模分析及计算{% endif %}</li>
				                    <li>{% if lan_type == 'en' %}Evaluate the risk of condensation, and define the critical area for improvement
{% else %}评估结露风险及找出隔热连续性设计的薄弱位置{% endif %}</li>
				                    <li>{% if lan_type == 'en' %}Design optimization proposal and report
{% else %}根据项目具体热工方面的问题提供设计优化建议和相关报告{% endif %}</li>
				                    <li>{% if lan_type == 'en' %}Value engineering
{% else %}方案价值评估，包含不同解决方案间的比较报告{% endif %}</li>
				                </ul>
							</td>
				            <td>
				                <ul>
				                    <li>{% if lan_type == 'en' %}Aidance with customers on the PMU assembly/installation, and provide technical support
{% else %}协助性能测试的准备工作，包括测试模型装配过程中的技术指导{% endif %}</li>
				                    <li>{% if lan_type == 'en' %}Witness the testing process, and assist customers in resolving the problems (if any) during the testing
{% else %}全程见证性能测试过程，并协助客户解决试验中出现的相关问题{% endif %}</li>
				                    <li>{% if lan_type == 'en' %}Review the shop drawings of customers, and feed back with professional comments
{% else %}对客户的施工蓝图进行审核，并提供专业审核意见{% endif %}</li>
				                    
				                </ul>

							</td>
				            <td><ul>
				                    <li>{% if lan_type == 'en' %}On-site technical services, including provide training for the staff of customers.
{% else %}现场技术支持，包括安装和施工人员的技术培训{% endif %}</li>
				                    <li>{% if lan_type == 'en' %}Assist customers in setting up the QA/QC program for construction
{% else %}协助客户建立安装和施工质量管控体系{% endif %}</li>
				                    <li>{% if lan_type == 'en' %}Trouble shooting during the construction
{% else %}解决施工过程中出现的相关问题{% endif %}</li>
				                    <li>{% if lan_type == 'en' %}Warranties{% else %}提供相应的质量保证{% endif %}</li>
				                    
				                </ul>
							</td>
				            
				        </tr>
    				</tbody>
			</table>
		</div>
		<div class="selecteddiv blockdiv" id="examplesId">
			<div class="pure-u-1-3">
				<h2>{% if lan_type == 'en' %}Projects
{% else %}精选案例{% endif %}</h2>
			</div>
			<div class="pure-u-1-2">
				<span style="margin-top:26px;display:inline-block">{% if lan_type == 'en' %}Under construction…
{% else %}网站建设中...{% endif %}</span>
			</div>
		</div>
		<div class="aboutus blockdiv" id="aboutusId">
			<!-- <div class="pure-u-1-5">
				<h2>关于我们</h2>
			</div> -->
			<div class="pure-u-3-3">
				<h2 style="margin-right:8%;display:inline;color:#094387;">{% if lan_type == 'en' %}About Us
{% else %}关于我们{% endif %}</h2>
				<img src="/static/images/a.png" title="Funky roots" class="aboutus-img" align="center"/>
				<img src="/static/images/b.png" title="The long and winding road" class="aboutus-img" align="center"/>
				<img src="/static/images/c.png" title="Happy trees" class="aboutus-img" align="center"/>
			</div>
			<div>
			<br><span>{% if lan_type == 'en' %}Warmframe Technology is the professional and systematic solution provider of the high performance thermal break technology for building envelopes.

Warmframe Technology is the leader of thermal break design and technology in the industry. Our technical team has extensive experiences working with the domestic and international professionals in providing professional thermal break solutions, providing technical design and engineering services, witnessing the testing process, guiding the construction and carrying out quality inspections. Our major team members play important roles in the national construction codes and standards committees, expert peer panel of international professional organizations.<br><br>

Our Warmframe solutions improve the thermal performance of facades significantly, meet the most stringent project-specific thermal requirements, and reduce the condensation risks. Meanwhile, we make sure the solutions meet the expectation of customers' comprehensive cost and are constructability.

As a professional and systematic solution provider of the high performance thermal break technology for building envelopes, Warmframe Technology offers project teams with the full scope services including design review, thermal engineering,  design optimization, value engineering, testing witness, construction guidance and warranties.
{% else %}Warmframe 暖框科技是高性能建筑节能及断热冷桥设计的专业系统解决方案服务商。<br><br>
暖框科技在建筑节能及断热冷桥设计方面的设计和技术领先，暖框科技的设计和技术团队对于国内、国际标志性工程提供建筑外墙节能及断热冷桥解决方案系统设计、工艺设计、系统热工测试、施工指导和质量检验有着相当丰富的经验。我们的主要成员也是国家相关建筑行业应用技术标准编制委员会成员，国际专业组织的专家成员。<br><br>
暖框科技的建筑节能及断热冷桥解决方案能大幅度提高建筑外墙的隔热性能，以满足严苛的工程热工设计要求，减除结露风险，提高隔声性能，防火及结构安全，同时兼顾工程的综合成本效益及施工便利性。<br><br>
作为专业的建筑节能及断热冷桥系统方案提供商，暖框科技的设计和技术团队为项目团队提供的服务包括：图纸审阅，热工分析，辅助设计，方案评估，协助系统测试，工艺和施工指导，以及性能质保服务。</span>{% endif %}
			</div>
		</div>
        </div>

<div style="
  z-index: 1080;display:none" id="register" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<!--<div>-->
    <div class="modal-dialog">
            <div class="modal-content" style="color:#A5A5A5">
                <div style="margin-left: 23px;
    margin-right: 23px;">
                    <h3 class="blue-txt">{% if lan_type == 'en' %}Solutions{% else %}用户注册{% endif %}</h3>
                    <span>{% if lan_type == 'en' %}Solutions{% else %}亲爱的客户，为更好地服务您的工程及设计需求并提供相应的技术资料和帮助，请填写以下信息，提交后我们的客户经理会很快与您取得联络，您的查询对我们非常重要。{% endif %}
    </span>
                </div>
                {% include "form.html" %}

            </div>
        </div>
    </div>
        {% endblock %}
